.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.restaurant-card {
  width: 250px;
  height: 100%;
  padding: 5px;
}

.restaurant-poster {
  width: 250px;
  height: 230px;
  object-fit: cover;
}

.restaurant-name {
  margin: 0px;
}
.style-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.add-restaurant-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.restaurant-align {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
